<nav class="epcl-pagination section">
	<div class="nav">
		{{#if prev}}
			<a class="prev epcl-button gradient-button wave-button medium" href="{{page_url prev}}">{{t "Previous" }}</a>
		{{/if}}
		<span class="page-number">{{t "Page {page} of {pages}" page=page pages=pages }}</span>
		{{#if next}}
			<a class="next epcl-button gradient-button wave-button medium" href="{{page_url next}}">{{t "Next Page" }}</a>
		{{/if}}
	</div>
</nav>