{{#if @site.logo}}
    <div class="logo" ><a href="{{@site.url}}"><img src="{{@site.logo}}" alt="{{@site.title}}" width="180" height="60"></a></div>
{{else}}
    <div class="logo text-logo">
        <a href="{{@site.url}}" class="title bold black no-margin"><span>{{@site.title}}</span><span class="dot large circle"></span></a>
    </div>
{{/if}}