<div class="epcl-subscribe epcl-gradient">
    <div class="grid-container grid-usmall grid-parent np-mobile textcenter">                
        <form class="subscribe-form" data-members-form="subscribe">
            <h2 class="title large white">{{t "Subscribe to our Newsletter"}}</h2>
            <p class="description">{{{t "Subscribe to our email newsletter and unlock access to <b>members-only</b> content and <b>exclusive updates.</b>"}}}</p>  
            <div class="form-group">
                <input type="email" name="email" class="inputbox large" required placeholder="{{t "Enter your email address"}}" data-members-email>
                <button class="epcl-button submit absolute wave-button" type="submit">{{t "Get Started"}}<span class="loader"></span></button>
            </div>                
            <p class="error-detail" data-members-error></p>
            <p class="success-message">{{t "Subscription was sent successfully, check your email"}} <i class="fa fa-envelope-o"></i></p>
        </form>
    </div>
    <svg class="epcl-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
            <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="epcl-parallax">
            <use xlink:href="#gentle-wave" x="48" y="2" fill="rgba(252, 255, 255,0.1)" />
            {{!-- <use xlink:href="#gentle-wave" x="48" y="2" fill="rgba(252, 102, 104,0.15)" /> --}}
            <use xlink:href="#gentle-wave" x="48" y="4" fill="rgba(252, 255, 255,0.15)" />
            <use xlink:href="#gentle-wave" x="48" y="7" fill="rgba(252, 255, 255,0.1)" />
        </g>
    </svg>
</div>