{{#get "posts" limit="3" include="tags,authors" filter="featured:true" as |featured-articles| }}
    {{#if featured-articles}}
        <!-- start: featured-articles -->
        <div class="widget widget_epcl_posts_thumbs grid-25 tablet-grid-50 mobile-grid-100">
            <h3 class="widget-title title medium bordered"><span>{{t "Featured Articles" }}</span><svg class="decoration"><use xlink:href="#title-decoration"></use></svg></h3> 
            {{#foreach featured-articles visibility="all"}}
                <article class="{{post_class}} item ctag-{{primary_tag.slug}} {{^if feature_image}}no-thumb{{/if}}">
                    <div class="info">                    
                        {{#if feature_image}}
                            <a href="{{url}}" class="thumb translate-effect epcl-loader">
                                <span class="fullimage cover lazy" data-src="{{img_url feature_image size="medium"}}"></span>
                                <span class="screen-reader-text">{{title}}</span>
                            </a>
                        {{/if}}
                        <div class="right">
                            <h4 class="title usmall underline-effect"><a href="{{url}}">{{title}}</a></h4>
                            <div class="meta small">	
                                {{#primary_author }}
                                    <a href="{{url}}" class="author">     
                                        <span class="dot small"></span>                                                     
                                        <span class="author-name"><span>By</span> {{name}}</span>
                                    </a>
                                {{/primary_author}}
                            </div>
                        </div>				
                    </div>
                    <div class="clear"></div>
                </article>
            {{/foreach}}            
        </div>
        <!-- end: featured-articles -->
    {{/if}}
{{/get}}